.container {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 1rem;
  grid-column: 2/3;
  grid-row: 2/3;
}

.container h1 {
  display: flex;
  flex-direction: column;
  font-size: 3.5rem;
  color: var(--title);
  text-transform: uppercase;
  font-weight: 400;
}
.container h1 span {
  font-size: 1.125rem;
  color: var(--subtitle);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2.7px;
}
.container p {
  text-align: justify;
  line-height: 32px;
  letter-spacing: 1.5px;
  color: var(--subtitle);
  font-size: 1.25rem;
  font-weight: 400;
}
.planet_img {
  width: auto;
  grid-column: 3/4;
  grid-row: 2/3;
  transform: scale(1.2);
  margin-left: 25%;
}
