.container_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3rem 0 3rem 2rem;
  gap: 1rem;
  justify-content: space-between;
  position: relative;
}

.slash {
  width: 43%;
  left: 8rem;
  height: 2px;
  background-color: var(--opacity);
  position: absolute;
  z-index: 4;
}
.container_blur {
  backdrop-filter: blur(7px);
  background: rgba(255, 255, 255, 0.061);
  padding: 2rem 0 2rem 8rem;
  width: 53%;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-size: 1.125rem;
  color: var(--subtitle);
  letter-spacing: 2px;
}
.item {
  position: relative;
  cursor: pointer;
  letter-spacing: 2.7px;
  font-size: 1.125rem;
}
.item:hover {
  color: var(--title);
}
.item span {
  color: var(--title);
  margin-right: 0.3rem;
  font-weight: 600;
}
.item::before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: var(--title);
  bottom: -32px;
  transition: 0.3s;
  width: 0%;
}
.item:hover::before {
  width: 100%;
  color: var(--title);
}

.line {
  position: absolute;
  height: 3px;
  background-color: var(--title);
  bottom: -32px;
  transition: 0.3s;
  width: 0;
}
.opacity {
  width: 100%;
}
