.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: var(--height_main);
}
.container h2 {
  font-size: 1.75rem;
  color: var(--title);
}
.container h2 span {
  margin-right: 2rem;
  color: var(--subtitle);
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
