.container {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  text-align: start;
  gap: 1rem;
  grid-column: 1/2;
  grid-row: 2/3;
}
.container h3 {
  font-size: 2rem;
  color: var(--subtitle);
  text-transform: uppercase;
  font-weight: 400;
}
.container h1 {
  font-size: 3.5rem;
  color: var(--title);
  text-transform: uppercase;
  font-weight: 400;
}
.container p {
  text-align: justify;
  line-height: 32px;
  letter-spacing: 1.5px;
  color: var(--subtitle);
  font-size: 1.3rem;
}
.planet_img {
  width: auto;
  grid-column: 2/3;
  grid-row: 2/4;
  margin: 0 auto;
}
@media screen and (max-width: 1080px) {
  .container {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .planet_img {
    grid-column: 1/2;
    grid-row: 4/5;
    width: 19rem;
    height: auto;
  }
  .container h1 {
    font-size: 2.5rem;
  }
  .container h3 {
    font-size: 1.2rem;
  }
  .container p {
    font-size: 1.1rem;
  }
}
